h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #1098ada8;
}

h1 {
  color: rgba(16, 120, 94, 0.604);
  font-size: 36px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
}

/*footer p {
  font-size: 16px;
}*/

/*article header p {
  font-style: italic;
}*/

#Author {
  font-style: italic;
  font-size: 18px;
}

.happy {
  font-weight: bold;
}

header {
  background-color: #bfee869b;
}

aside {
  background-color: #deee869b;
  border-top: 5px solid #3b5d119b;
  border-bottom: 5px solid #3b5d119b;
  border-left: 5px dotted #3b5d119b;
  border-right: 5px dotted #3b5d119b;
}

body {
  background-color: #fcfee0;
  margin: 20px;
  padding: 20px;
}

a:hover {
  color: #621818;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  font-style: italic;
}

.Heading {
  border: 5px solid #3b5d119b;
  padding: 30px;
}

.container {
  width: 700px;
  margin: auto;
}

nav a:link {
  background-color: #a0f43a9b;
  margin: 10px;
  padding: 5px;
}

.B1 {
  font-size: 22px;
  padding: 5px;
  margin: 0px;
  background-color: #a0f43a9b;
  border: 5px solid #3b5d119b;
  cursor: pointer;

  position: absolute;
  right: 140px;
}
